@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #592C33;
    color: #D4D3CF;
    margin: 0;
    text-align: center;
    font-family: "Aleo", serif;
}

.aLink{
    color: #D2C0AC;
    text-decoration: none;
    
}

#allRestaurants{
    background-color:#82483D ;
    border-radius: 7px;
    padding: 8px 7px;
}

#allRestaurants:hover{
    background-color: #82493d76;
    box-shadow: 0 0 15px #D4D3CF;
}

#navbar{
    background-color: #82483D;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
}

#navbar a:hover{
    border-bottom: solid #D2C0AC;
}

#resturauntDetails{
    text-align: center;
    display: inline-block;
    width: 160px;
    padding: 5px;
    margin: 5px;
}


.details{
    background-color:#D2C0AC;
    color:#4E3729;
    padding: 5px 4px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 3px;
}



.cards{
    background-color: #82483D;
    display: inline-block;
    width: 200px;
    height: 140px;
    padding: 2px 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.allRestaurants{
    text-decoration: none;
    font-weight: bold;
    color:#4E3729;
    background-color: #D2C0AC;
    display: inline-block;
    padding: 20px;
    margin: 6px;
    border-radius: 8px;
}

.allRestaurants:hover{
    box-shadow: 0 0 15px #D4D3CF;
}

#closed{
    color:#82483D;
    font-weight: lighter;
}
